* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



.header {
    background-color: #1F2937;
    height: 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    justify-content: flex-end;
    gap: 18px;
    
}

li {
    color: white;
}

h1 {
    color: white;
    font-size: 35px;
}

main {
    background-color: #1F2937;
    display: flex;
    gap: 20px;
    padding: 100px;
    
}

.main-container {
    text-align: center;
    color: orange;
}

.project-title {
    text-align: center;
    margin: 35px 0;
    
}

.items {
    width: 200px;
    height: 200px;
    background-color: lightgrey;
    border: 3px solid black;
    margin-bottom: 55px;
}

.projects {
    display: flex;
    gap: 8px;
    justify-content: space-around;
}

.quote-container {
    background-color: #E5E7EB;
    height: 330px;
}

.quote {
    margin: 50px;
    padding: 150px;
}

.author {
    margin-top: 15px;
}

.button-container {
    background-color: white;
    height: 330px;
}

.blue-box {
    background-color: #3882F6;
    height: 150px;
    margin: 75px 40px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    
}

.block {
    margin: 50px 20px 20px 20px ;
    color: white;
}