* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



.header {
    background-color: #1F2937;
    height: 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    justify-content: flex-end;
    gap: 18px;
    
}

li {
    color: white;
}

h1 {
    color: white;
    font-size: 35px;
}

main {
    background-color: #1F2937;
    display: flex;
    gap: 20px;
    padding: 100px;
    
}

.main-container {
    text-align: center;
    color: orange;
}

.project-title {
    text-align: center;
    margin: 35px 0;
    
}

.items {
    width: 200px;
    height: 200px;
    background-color: lightgrey;
    border: 3px solid black;
}

.projects {
    display: flex;
    gap: 8px;
    justify-content: space-around;
}